@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.travel-details-response {
  padding: 16px;
}

.travel-details-response p {
  margin: 8px 0;
  padding: 4px 8px;
}

.travel-details-response ul {
  margin: 8px 0 8px 16px;
  padding-left: 16px;
  list-style-type: disc;
}
